@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! Imports */
/* @font-face {
  font-family: ;
  src: url();
} */

/* ! Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
/* ! Global Content */
/* :root{} */
/* ! Media Query */
